<% include ./partials/header.ejs %>



 <div class="row" style="margin:auto; margin-top:10%">
<div class="col s6  offset-s5">

    <button class="btn btn-primary initiate" >Initiate The process</button>

</div>

</div>










<% include ./partials/footer.ejs %>